[Unit]
Description=Maild Web
#After=network.target   
Requires=postgresql.service
After=postgresql.service


[Service]
Type=simple
ExecStart=/usr/bin/maild_web -c /etc/maild/maild_web.conf
User=maild
Group=maild
Restart=always

[Install]
WantedBy=multi-user.target default.target

