[Unit]
Description=Maild
#After=network.target   
Requires=postgresql.service
After=postgresql.service


[Service]
Type=simple
ExecStart=/usr/bin/maild -c /etc/maild/maild.conf
User=root
Group=root
Restart=always

[Install]
WantedBy=multi-user.target default.target

