[main]
database_url="postgresql://maild:maild@localhost/maild"
domain="xvknp.com"
port=8080
ips=["0.0.0.0"]
files_dir="/var/www/html/maild",
api_prefix="/api"

[log]
    [log.console]
        type="console"
        level="debug"
        pattern="[%D %T] [%l] %v"
    [log.file]
        type="rotating_file"
        level="debug"
        pattern="[%D %T] [%l] %v"
        file="/var/log/maild/maild_web.log"
        max_size=10000000
        max_files=25

